.mainForm{
    max-width: 80rem;
    margin: 0 auto;
}

.productDescription{
    min-height: 4rem;
}

.imageOuter{
    border: 2px black solid;
    min-height: 10rem;
}

.productImageContainer{
    border: 1px red solid;

    border-radius: 5px;
    max-width: 700px;
    min-width: 700px;

    max-height: 420px;
    min-height: 420px;
    overflow: hidden;
}

.imageContainer{
    max-width: 700px;
    min-width: 700px;

    max-height: 370px;
    min-height: 370px;
    overflow: scroll;
}

.productImage{
    max-width: 650px;
    min-width: 650px;

    margin-top: 5px;

    border: transparent;
    max-height: 1000px;
    min-height: 200px;
}

.buttonContainer{
    margin: 10px auto;
}
